.sidebar {
  width: 33%;
  height: 100%;
  background-color: rgb(150, 212, 233);
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  padding-left: 0.625rem;
  margin-bottom: 0.625rem;
  overflow-y: auto;
}

.sidebar h3 {
  display: flex;
  justify-content: center;
  color: rgb(75, 69, 66);
  display: flex;
}
.sidebar li {
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar li p {
  margin: 0;
  word-wrap: break-word;
}

.sidebar li small {
  display: block;
  text-align: right;
  color: #888;
}

.sidebar .actions {
  margin-top: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.sidebar .actions button {
  padding: 0.3rem 0.625rem;
  margin-right: 0.125rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.8em;
}

.sidebar .actions button:hover {
  background-color: #0056b3;
}
@media only screen and (min-width: 767px) {
  .sidebar {
    width: 20%;
  }
  .sidebar ul {
    width: 90%;
  }
}
